<nav class="top-nav">
	<%= link_to "Sign Out", destroy_user_session_path, method: "delete"%>
</nav>

<h3>Welcome. You're about to be able to create reminders.</h3>

<h2><%= link_to "Continue", root_url %></h2>